{% extends "navbar.njk" %}

{% block content %}

	<div class="fixed-action-btn toolbar">
		<a class="btn-floating btn-large black">
			<i class="large mdi mdi-menu"></i>
		</a>
		<ul>
			<li><a class="btn-floating" ><i class=""></i></a></li>
			<li><a class="btn-floating" ><i class=""></i></a></li>
			<li><a class="btn-floating" ><i class=""></i></a></li>
			<li><a class="btn-floating" href="/logout"><i class="mdi mdi-logout"></i>Sair</a></li>
		</ul>
	</div>


{% endblock content %}

{% block scripts %}

	<script src="js/home.js"></script>


{% endblock %}