{% extends "navbar.njk" %}

{% block content %}
<div class="row">
    <div class="col s12 m8 offset-m2">
        <div class="card">
            <div class="card-image">
                <img src="img/login-card-img.jpg" alt="">
                <span class="card-title">
                    Logar
                </span>
            </div>
            <div class="card-content">
                <div class="row">
                    <form class="col s12" action="/login" method="POST">
                        <div class="row">
                            <div class="input-field">
                                <i class="material-icons prefix">account_circle</i>
                                <input id="name" name="username" type="text">
                                <label for="name">Nome</label>
                            </div>
                            <div class="input-field">
                                <i class="material-icons prefix">lock</i>
                                <input type="password" name="password" id="password">
                                <label for="password">Senha</label>
                            </div>
                            
                            <button class="btn waves-effect waves-light grey darken-4 col s12 m5" type="submit">
                                Entrar
                            </button>
                            <div class="hide-on-med-and-up">
                                <br><br>
                            </div>
                            <a href="/register" class="btn waves-effect waves-light right grey darken-4 col s12 m5">
                                Cadastrar
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}


{% block scripts %}
    {% if errMessage != '' %}
            <script type="text/javascript">
                $(() => {
                    M.toast({html: '{{ errMessage }}'})
                })
            </script>
        {% endif %}
{% endblock scripts %}