<!DOCTYPE html>
<html>
    <head>
        {# <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> #}
        <link rel="stylesheet" href="//cdn.materialdesignicons.com/3.6.95/css/materialdesignicons.min.css">
        <link rel="stylesheet" href="css/materialize.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>{{ title }}</title>
    </head>
    <body>

        <header>

            <nav class="black">
                <div class="nav-wrapper">
                    <a href="#" class="brand-logo">{{ title }}</a>
                    <ul class="right hide-on-med-and-down">
                        {% if not user %}
                            {% if title === 'Logar' %}
                                <li><a href="/register">Cadastrar</a></li>
                            {% endif %}

                            {% if title === 'Cadastrar' %}
                                <li><a href="/login">Logar</a></li>
                            {% endif %}
                        {% endif %}
                        {% if user %}
                            <li><a href="/logout">Sair</a></li>
                        {% endif %}
                    </ul>
                </div>
            </nav>

        </header>

        <main>
            <div class="container">
                {% block content %} {% endblock %}
            </div>
        </main>

        <footer>

        </footer>
        
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="js/materialize.min.js"></script>
        {% block scripts %} {% endblock %}
    </body>
</html>