{% extends "navbar.njk" %}

{% block content %}
<div class="row">
    <div class="col s12 m8 offset-m2">
        <div class="card">
            <div class="card-image">
                <img src="img/login-card-img.jpg" alt="">
                <span class="card-title">
                    Cadastrar
                </span>
            </div>
            <div class="card-content">
                <div class="row">
                    <form class="col s12" action="/register" method="POST" id="registerForm">
                        <div class="row">
                            <div class="input-field">
                                <i class="prefix mdi mdi-account-circle"></i>
                                <input id="name" name="username" type="text">
                                <label for="name">Nome</label>
                            </div>
                            <div class="input-field">
                                <i class="prefix mdi mdi-lock"></i>
                                <input type="password" name="password" id="password">
                                <label for="password">Senha</label>
                            </div>
                            <div class="input-field">
                                <i class="prefix mdi mdi-lock"></i>
                                <input type="password" id="password2">
                                <label for="password2">Confirme sua senha</label>
                            </div>
                            <a class="btn waves-effect waves-light grey darken-4 col s12 m5" id="registerButton">
                                Cadastrar
                            </a>
                            <div class="hide-on-med-and-up">
                                <br><br>
                            </div>
                            <a href="/login" class="btn waves-effect waves-light right grey darken-4 col s12 m5">
                                Logar
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block scripts %}

    <script src="js/register.js"></script>
    {% if errMessage != '' %}
        <script type="text/javascript">
            $(() => {
                M.toast({html: '{{ errMessage }}'})
            })
        </script>
    {% endif %}
    
{% endblock scripts %}